:root {
    --carousel-height: 350px;
    --carousel-radius: 0.5em;
    --carousel-nav-btn-dim: 3em;
    --carousel-page-nav-btn-dim: 0.5em;
    --carousel-caption-padding: 2em;
    --carousel-caption-color: #fff;
    --carousel-caption-bg: linear-gradient(
      to bottom,
      transparent,
      hsl(0 0 0 / 65%) 80%
    );
    --carousel-inner-spacing: 2em;
    --carousel-prev-next-btn-bg: #fff;
    --carousel-prev-next-btn-color: #333;
    --carousel-pagination-margin: 1em;
    --carousel-pagination-gap: 0.75em;
    --carousel-pagination-btn-bg: #aaa;
    --carousel-pagination-btn-active-bg: #333;
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* box-sizing reset*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* basic body styles */
body {
    margin: 0;
    font: 16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* optimized media elements */
img,
video,
iframe {
    max-width: 100%;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #71525C;
    background-color: #F9F6F0;
    margin-bottom: 0px;
    margin-top: 0px;
}

.topnav {
    background-color: #71525C;
    overflow: hidden;
  }

.topnav a {
    display: inline-block;
    margin-left: 315px;
    font-family: 'Roboto', sans-serif;
    color: #F9F6F0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #B392AC;
    color: black;
}
  
.topnav a.active {
    background-color: #B392AC;
    color: #F9F6F0;
}

.material-symbols-outlined {
    display: flex;
    vertical-align: -5px;
    padding-right: 5px;
}

hr {
    border: 1px solid #71525C;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #71525C;
    padding-left: 450px;
    padding-right: 450px;
}

#portfoliobtn {
    background-color: #B392AC;
    color: #F9F6F0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    border: 1px solid #71525C;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
    width: 200px;
}

#portfoliobtn:hover {
    background-color: #F9F6F0;
    color: #B392AC;
}

#portfoliopng {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #71525C;
    color: #F9F6F0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.carousel-inner {
    overflow: hidden;
    position: relative;
    min-height: var(--carousel-height);
    border-radius: var(--carousel-radius);
}

.carousel-title {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.carousel-title + .carousel-description {
    color: #888;
    margin-top: 0;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}

.slide-content {
    position: relative;
    z-index: 5000;
    height: 100%;
}

.slide-caption {
    width: 100%;
    position: absolute;
    padding: var(--carousel-caption-padding);
    left: 0;
    bottom: 0;
    color: var(--carousel-caption-color);
    background-image: var(--carousel-caption-bg);
}

.slide-caption a {
    color: currentColor;
}

.slide-caption h3,
.slide-caption p {
    margin: 0;
}

.slide-caption p {
    font-size: 75%;
    opacity: 0.6;
}

.slide img {
    width: 100%;
    object-fit: cover;
}

.carousel-btn {
    width: var(--carousel-nav-btn-dim);
    height: var(--carousel-nav-btn-dim);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: var(--carousel-prev-next-btn-color);
    background-color: var(--carousel-prev-next-btn-bg);
}
